<web-app version="3.0">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>Servlet</servlet-name>
    <servlet-class>infrastructure.http.DispatcherServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/userHttp/*</url-pattern>
    <url-pattern>/user/*</url-pattern>
    <url-pattern>/admin/*</url-pattern>
    <url-pattern>/404</url-pattern>
    <url-pattern>/counter/*</url-pattern>
    <url-pattern></url-pattern>
    <url-pattern>/get/localitiesGet/by/localitySend/id/*</url-pattern>
  </servlet-mapping>


</web-app>
