<web-app version="3.0">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>PureHttpDispatcherServlet</servlet-name>
    <servlet-class>infrastructure.http.PureHttpFrontController</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>RestDispatcherServlet</servlet-name>
    <servlet-class>infrastructure.rest.RestDispatcherFrontController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>PureHttpDispatcherServlet</servlet-name>
    <url-pattern>/http/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>RestDispatcherServlet</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>


</web-app>
