<web-app version="3.0">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>PureHttpDispatcherServlet</servlet-name>
    <servlet-class>infrastructure.http.PureHttpFrontController</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>RestDispatcherServlet</servlet-name>
    <servlet-class>infrastructure.rest.RestFrontController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>PureHttpDispatcherServlet</servlet-name>
    <url-pattern>/http/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>RestDispatcherServlet</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>XSSFilter</filter-name>
    <filter-class>infrastructure.http.XSSFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>XSSFilter</filter-name>
    <url-pattern>/rest/*</url-pattern>
    <url-pattern>/http/*</url-pattern>
  </filter-mapping>


</web-app>
